<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
					    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
				        http://www.springframework.org/schema/context
				        http://www.springframework.org/schema/context/spring-context-4.3.xsd
				        http://www.springframework.org/schema/tx
				        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
				        http://www.springframework.org/schema/aop 
					    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
					    http://www.springframework.org/schema/mvc 
					    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
				        http://mybatis.org/schema/mybatis-spring 
					    http://mybatis.org/schema/mybatis-spring.xsd">
	<!-- 注册控制器 -->
	<bean id="/pageSkipController" class="com.kedacom.controller.PageSkipController"></bean>
	
	<!-- 注册视图解析器：通过properties文件 -->
	<bean class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<property name="basename" value="myViews"></property>
		<property name="order" value="5"></property>
	</bean>
	<!-- 注册视图解析器 ：通过xml配置文件-->
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="location" value="classpath:myViews.xml"></property>
		<property name="order" value="3"></property>
	</bean>
	
	<!-- 注册视图解析器 ：通过前缀与后缀的方式-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	
	
	
	
	
</beans>